<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>子作用域</title>
        <script src="angular.min.js"></script>
    </head>
    <body ng-app="app">
		<div ng-controller="ctrl1">
			<input type="text" ng-model="a">
			<div>{{a}}</div>
		</div>

		<div ng-controller="ctrl2">
			<input type="text" ng-model="b">
			<div>{{b}}</div>
		</div>
    </body>
    <script>
    	var app = angular.module("app",[]);
    	app.controller("ctrl1",["$scope",function($scope){

    	}]);
    	app.controller("ctrl2",["$scope",function($scope){

    	}]);
    </script>
</html>